<section id="cd-intro">
  <div id="cd-intro-background"></div>
  <div id="cd-intro-tagline">
    <h1>Responsive Landing Page</h1>
  </div><!-- cd-intro-tagline -->
</section><!-- #cd-intro -->

<main class="cd-content">
  <div class="cd-container">
    <h2>This is the title</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fuga quis nam, nesciunt ducimus beatae et perspiciatis, soluta at commodi
      officiis sequi blanditiis consectetur laboriosam magni deserunt fugiat
      necessitatibus ipsa eum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ipsum sit accusantium, sunt ut veritatis ipsa voluptate, ad laboriosam
      molestias iure iste quam earum optio esse rem animi sequi, hic eligendi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Earum, officiis aperiam fugit, ipsum libero natus maiores praesentium
      maxime recusandae alias ipsam ad harum? Tenetur recusandae dolore
      cupiditate, sed voluptatem assumenda.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Tempore et, nesciunt esse, in saepe, voluptas facere asperiores, id
      temporibus magnam dicta beatae. Provident omnis quia aut suscipit facere
      natus cumque.
    </p>
  </div>
</main><!-- cd-content -->
